{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bem vindo</title>
  <link rel="stylesheet" href="{% static "styles/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "styles/main.css" %}">
</head>
<body>
  <h1>Bem-vindo ao ConnectedIn</h1>
  {% if perfis %}
    <ul>
      {% for perfil in perfis %}
        <li>
          <a href="{% url 'exibir' perfil.id %}">{{ perfil.nome }} / {{ perfil.email }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nenhum perfil encontrado</p>
  {% endif %} 
</body>
</html>
