{% extends "base_usuario.html" %}
{% block body %}
  <form class="form-signin" action="{% url 'registrar' %}" method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading">Crie seu usuário</h2>

    <input id="id_email" name="email" type="text" class="form-control" 
      placeholder="Email *" required>

    <input id="id_nome" name="nome" type="text" class="form-control" 
      placeholder="Nome *" required>

    <input id="id_senha" name="senha" type="password" class="form-control" 
      placeholder="Senha *" required>

    <input id="id_telefone" name="telefone" type="text" class="form-control" 
      placeholder="Telefone">

    <input id="id_nome_empresa" name="nome_empresa" type="text" class="form-control" 
      placeholder="Empresa">

    <hr />

    {% if form.erros %}
      <div class="alert alert-danger">
        <button type="button" class="close">&times;</button>
        {{form.non_field_erros}}
      </div>
    {% endif %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>

  </form>
{% endblock %}